<div class = city>
<h1><%= @city[:name] %></h1>
<br>
<br>
<% for hostel in @hostels %>
    
    <p>
    <img src="<%= hostel[:img_url] %>"  alt="idk" class = "responsive1">
    <a href="/hostels/<%= hostel[:id] %>"><%= hostel[:title] %></a>
    </p>
<% end %>
</div>